<!--
  RSS-to-HTML
  Copyright (C) 2024

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>

<html lang="fr-FR">
  <head>
    <meta charset="UTF-8">
    <style>

        body {
            font-family: 'Ubuntu', 'Arial', sans-serif;
            background-color: rgba(0, 0, 0, 0.95);
        }

        h1, h2 {
            margin: 0;
            margin-block: 0;
        }

        a {
            color: black;
        }

        .title-background {
            background-color: lightgrey;
            width: 40rem;
            margin: auto;
        }

        .image-background {
            margin: 1rem auto auto;
            width: 40rem;
            position: relative;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
        }

        .footer {
            padding: 2rem;
            margin: 1rem auto auto;
            width: 36rem;
            position: relative;
            background-color: rgba(255, 255, 255, 0.83);
            text-align: justify;
            text-justify: inter-word;
        }

        .content {
            padding: 2rem;
            background-color: rgba(255, 255, 255, 0.83);
            text-align: justify;
            text-justify: inter-word;
        }

        .publication_date {
            font-style: italic;
        }

    </style>
    <title>{{ rss.title }}</title>
  </head>

  <body>

    <div class="title-background">

      <img
              src="{{ rss.feed.image.href }}"
              title="{{ rss.feed.title }}"
              alt="{{ rss.feed.title }}"
              width="640">

      <div class="content">
        <p class="tagline">{{ rss.feed.subtitle }}</p>
      </div>

    </div>
    {% for episode in rss.entries %}
      <div
              id="{{ episode.id }}"
              class="image-background"
              style="background-image: url('{{ episode.image.href }}');">
        <div class="content">

          <h2>s{{ episode.itunes_season }}e{{ episode.itunes_episode }} : {{ episode.title }}</h2>
          <p class="publication_date">Publié le {{ strftime("%d/%m/%Y", episode.published_parsed) }}</p>
          <p>{{ episode.description }}</p>

          <audio
                  style="
            width: 36rem;
            display: block;
          "
                  controls
                  preload="metadata">
            <source
                    src="{{ episode.links[0].href }}"
                    type="{{ episode.links[0].type }}">
            Votre navigateur ne supporte pas les éléments audio
          </audio>

        </div>
      </div>
    {% endfor %}
    <div class="footer">

      <h2>Informations légales</h2>
      <p>Copyright © {{ strftime("%Y", rss.feed.updated_parsed) }} {{ rss.feed.author }}</p>

      <h3>Hébergement</h3>
      {% if config['LEGAL']['HostName'] != '' or config['LEGAL']['HostAddress'] != '' or config['LEGAL']['HostContact'] != '' %}
        <p>
          {% if config['LEGAL']['HostName'] != '' %}
            {{ config['LEGAL']['HostName'] }}<br>
          {% endif %}
          {% if config['LEGAL']['HostAddress'] != '' %}
            {{ config['LEGAL']['HostAddress'] }}<br>
          {% endif %}
          {% if config['LEGAL']['HostContact'] != '' %}
            {{ config['LEGAL']['HostContact'] }}
          {% endif %}
        </p>
      {% endif %}

      {% if config['LEGAL']['RgaaAuditResult'] != '' and config['LEGAL']['RgaaAuditLink'] != '' %}
        <h3>Accessibilité</h3>
        <p>
          RGAA : <a href="{{ config['LEGAL']['RgaaAuditLink'] }}">{{ config['LEGAL']['RgaaAuditResult'] }}</a>
        </p>
      {% endif %}

      <h3>Licences tierces</h3>
      <p>
        Site web généré avec <a href="https://github.com/adrienbricchi/rss-to-html">RSS-to-HTML</a> - Licence Affero AGPL v3
        <br>
        Icônes : <a href="https://fontawesome.com">Font Awesome Free</a> - Licence CC BY 4.0
      </p>

    </div>
  </body>
</html>
