<!--
  RSS-to-HTML
  Copyright (C) 2024

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>

<html lang="fr-FR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        body {
            font-family: 'Ubuntu', 'Arial', sans-serif;
            background-color: rgba(0, 0, 0, 0.95);
        }

        h1, h2 {
            margin: 0;
            margin-block: 0;
        }

        a {
            color: black;
        }

        .title-background {
            background-color: lightgrey;
            max-width: 40rem;
            margin: auto;
        }

        .image-background {
            margin: 1rem auto auto;
            max-width: 40rem;
            position: relative;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
        }

        .footer {
            padding: 2rem;
            margin: 1rem auto auto;
            max-width: 36rem;
            position: relative;
            background-color: rgba(255, 255, 255, 0.83);
            text-align: justify;
            text-justify: inter-word;
        }

        .content {
            padding: 2rem;
            background-color: rgba(255, 255, 255, 0.83);
            text-align: justify;
            text-justify: inter-word;
        }

        .width-100 {
            width: 100%;
        }

        .publication_date {
            font-style: italic;
        }

    </style>
    <title>{{ rss.feed.title }}</title>
  </head>

  <body>

    <div class="title-background">

      <img src="{{ rss.feed.image.href }}"
           title="{{ rss.feed.title }}"
           alt="{{ rss.feed.title }}"
           class="width-100">

      <div class="content">

        <p class="tagline">{{ rss.feed.subtitle }}</p>

        <div>
          {% if config['SOCIAL']['Website'] != '' %}
            <a href="{{ config['SOCIAL']['Website'] }}"><svg xmlns="http://www.w3.org/2000/svg"
                                                             height="2rem"
                                                             viewBox="0 0 576 512"
                                                             aria-label="Site web">
              <path d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/>
            </svg></a>
          {% endif %}
          {% if config['SOCIAL']['RssFeedUrl'].startswith('http') %}
            <a href="{{ config['SOCIAL']['RssFeedUrl'] }}"><svg xmlns="http://www.w3.org/2000/svg"
                                              height="2rem"
                                              viewBox="0 0 448 512"
                                              aria-label="Flux RSS">
              <path d="M0 64C0 46.3 14.3 32 32 32c229.8 0 416 186.2 416 416c0 17.7-14.3 32-32 32s-32-14.3-32-32C384 253.6 226.4 96 32 96C14.3 96 0 81.7 0 64zM0 416a64 64 0 1 1 128 0A64 64 0 1 1 0 416zM32 160c159.1 0 288 128.9 288 288c0 17.7-14.3 32-32 32s-32-14.3-32-32c0-123.7-100.3-224-224-224c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/>
            </svg></a>
          {% endif %}
          {% if config['SOCIAL']['Instagram'] != '' %}
            <a href="{{ config['SOCIAL']['Instagram'] }}"><svg xmlns="http://www.w3.org/2000/svg"
                                                               height="2rem"
                                                               viewBox="0 0 448 512"
                                                               aria-label="Instagram">
                <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
              </svg></a>
          {% endif %}
          {% if config['SOCIAL']['TwitterX'] != '' %}
            <a href="{{ config['SOCIAL']['TwitterX'] }}"><svg xmlns="http://www.w3.org/2000/svg"
                                                              height="2rem"
                                                              viewBox="0 0 512 512"
                                                              aria-label="X - Twitter">
                <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/>
              </svg></a>
          {% endif %}
          {% if config['SOCIAL']['Facebook'] != '' %}
            <a href="{{ config['SOCIAL']['Facebook'] }}"><svg xmlns="http://www.w3.org/2000/svg"
                                                              height="2rem"
                                                              viewBox="0 0 512 512"
                                                              aria-label="Facebook">
                <path d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z"/>
              </svg></a>
          {% endif %}
          {% if config['SOCIAL']['Tipeee'] != '' %}
            <a href="{{ config['SOCIAL']['Tipeee'] }}"><svg xmlns="http://www.w3.org/2000/svg"
                                                            height="2rem"
                                                            viewBox="0 0 512 512"
                                                            aria-label="Tipeee">
                <path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/>
              </svg></a>
          {% endif %}
        </div>
      </div>

    </div>
    {% for episode in rss.entries %}
      <div id="{{ episode.id }}"
           class="image-background"
           style="background-image: url('{{ episode.image.href }}');">
        <div class="content">

          <h2>
            {% if has_attribute(episode, 'itunes_season') and has_attribute(episode, 'itunes_episode') %}
              s{{ episode.itunes_season.rjust(2, '0') }}e{{ episode.itunes_episode.rjust(2, '0') }}&nbsp;:
            {% endif %}
            {{ episode.title }}</h2>
          <p class="publication_date">Publié le {{ strftime("%d/%m/%Y", episode.published_parsed) }}</p>
          <p>{{ sanitize_content(episode.description) }}</p>

          <audio class="width-100"
                 controls
                 preload="none">
            <source src="{{ episode.links[0].href }}"
                    type="{{ episode.links[0].type }}">
            Votre navigateur ne supporte pas les éléments audio
          </audio>

        </div>
      </div>
    {% endfor %}
    <div class="footer">

      <h2>Informations légales</h2>
      <p>Copyright © {{ strftime("%Y", rss.feed.updated_parsed) }} {{ rss.feed.author }}</p>

      <h3>Hébergement</h3>
      {% if config['LEGAL']['HostName'] != '' or config['LEGAL']['HostAddress'] != '' or config['LEGAL']['HostContact'] != '' %}
        <p>
          {% if config['LEGAL']['HostName'] != '' %}
            {{ config['LEGAL']['HostName'] }}<br>
          {% endif %}
          {% if config['LEGAL']['HostAddress'] != '' %}
            {{ config['LEGAL']['HostAddress'] }}<br>
          {% endif %}
          {% if config['LEGAL']['HostContact'] != '' %}
            {{ config['LEGAL']['HostContact'] }}
          {% endif %}
        </p>
      {% endif %}

      {% if config['LEGAL']['RgaaAuditResult'] != '' and config['LEGAL']['RgaaAuditLink'] != '' %}
        <h3>Accessibilité</h3>
        <p>
          RGAA&nbsp;: <a href="{{ config['LEGAL']['RgaaAuditLink'] }}">{{ config['LEGAL']['RgaaAuditResult'] }}</a>
        </p>
      {% endif %}

      <h3>Licences tierces</h3>
      <p>
        Site web généré avec <a href="https://github.com/adrienbricchi/rss-to-html">RSS-to-HTML</a> - Licence Affero AGPL v3
        <br>
        Icônes&nbsp;: <a href="https://fontawesome.com">Font Awesome Free</a> - Licence CC BY 4.0
      </p>

    </div>
  </body>
</html>
